<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-sm-offset-3">
	<div style="margin-top: 3rem;">
		<h1 class="text-center" >Sorry, that page doesn’t exist!</h1>
		<p class="text-center" style="margin: 15px;">You can search Galore using the search box below or return to the <%= link_to 'homepage', root_path %>.
		<div class="text-center" style="margin-left: 10rem;">
			<%= render 'partials/search2' %>
		</div>
	</div>
</div>